<%- include('partials/header'); -%>
<body>
<%- include('partials/nav'); %>
<div class="banner">
    <h2>Book lover</h2>
    <div class="cloud">
        <img src="./img/cloud1.png" alt="" style="--i:1;">
        <img src="./img/cloud2.png" alt="" style="--i:2;">
        <img src="./img/cloud3.png" alt="" style="--i:3;">
        <img src="./img/cloud4.png" alt="" style="--i:4;">
        <img src="./img/cloud5.png" alt="" style="--i:5;">
    </div>
</div>
<div class="blog">
    <div class="blog-content">
        <h3>My lovely books</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium necessitatibus itaque dolores tempore? Delectus minus temporibus nam qui dolore saepe magni iure quia hic. Distinctio dolorum porro suscipit voluptates expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ex dolorum nesciunt perferendis vero, impedit delectus minus saepe in, quas necessitatibus aut, corrupti quam quibusdam adipisci molestiae libero rem nisi.</p>
    </div>  
</div>

<%- include('partials/bootstrap'); %>

</body>
</html>