@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* navigation */
.nav-sec {
    position: fixed;
    width: 100%;
    z-index: 100000;
}
.navbar {
    background: #ffd5cd;
    min-height: 8vh;
}
.navbar-nav {
    position: relative;
}
.nav-link {
    position: relative;
    padding: 8px 20px !important;
}
#marker {
    position: absolute;
    height: 4px;
    background: #ccc4dc;
    width: 0;
    left:0;
    bottom: 0;
    transition: 0.5s;
    border-radius: 3px;
}
.navbar-brand {
    background: #8675a9 ;
    border-radius: 3px;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-brand { 
    padding: 10px 20px;
}
.navbar-expand-lg {
    padding: 0 100px !important;
}
@media (max-width: 992px) {
    .navbar-expand-lg {
        padding: 10px 30px !important;
    }
}
@media (max-width: 1095px) {
    .nav-link {
        padding: 8px 10px !important;
    }
}

/*  Home */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./img/bg.jpg);
    background-size: cover;
    background-position: bottom;
}

.blog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-content {
    padding: 50px 0;
    width: 70%;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .cloud {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.banner .cloud img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: move calc(8s * var(--i)) linear infinite;
}
@keyframes move {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    

    }
}
.banner h2 {
    color: #decdc3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8rem;
}
/* Log in & Sign up*/
.login, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-23deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.login form, .signup form {
    color: #fff;
    position: relative;
    width: 20%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    min-width: 400px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2)
}
.login form::after, .signup form::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.3) 100%);
}

.login form input, .signup form input {
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.2);
}
.login form input:focus, .signup form input:focus {
    background: transparent;
    
}
.name-error, .password-error, .email-error {
    color: #f56a79;
    font-size: 1rem;
}
.login button, .signup button {
    background: #fff;
    color: #000;
}